@mixin material-card {
  display: flex;
  flex-direction: column;
  min-width: 40%;

  margin-top: 20px;
  padding: 20px;
}

@mixin membersButtonAllign($direction:left) {
  @if $direction == "right" {
    border-left-color: $navbgblue;
    border-right-width: 0px;
  } @else if $direction == "left" {
    border-right-color: $navbgblue;
    border-left-width: 0px;
  } @else if $direction == "up" {
    border-bottom-color: $navbgblue;
    border-top-width: 0px;
  } @else if $direction == "down" {
    border-top-color: $navbgblue;
    border-bottom-width: 0px;
  }
}

@mixin flex {
  display: flex;
}

@mixin flex-grow($grow: 1) {
  @include flex();
  flex-grow: $grow;
}

@mixin flex-column {
  @include flex();
  flex-direction: column;
}

@mixin flex-row {
  @include flex();
  flex-direction: row;
}

@mixin material-card-title($font-size: 26px) {
  font-size: $font-size;
  font-weight: normal;
  margin-top: 0px;
}

@mixin clickable {
  cursor: pointer;
  outline: none;
}
