@import '../../node_modules/normalize.scss/normalize';
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';

// layout
html, body {
  height : 100%;

  button,
  button[mat-button],
  input,
  span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    border-radius: $legal-consult-radius-xs!important;
  }

  .page-view {
    padding-right: $legal-consult-margin-lg;
    padding-left: $legal-consult-margin-lg;
  }
}


.notification-snackbar {
  color: white;
  background: map-get($mat-red, 300);
}
