@import '~@angular/material/theming';

$mat-concrete: #F2F2F2;

$mat-congress-blue: (
  50 : #e5e9f3,
  100 : #bec8e0,
  200 : #93a4cc,
  300 : #6780b7,
  400 : #4764a7,
  500 : #264998,
  600 : #224290,
  700 : #1c3985,
  800 : #17317b,
  900 : #0d216a,
  A100 : #9daeff,
  A200 : #6a84ff,
  A400 : #375aff,
  A700 : #1e45ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$mat-white: (
  50 : #FFFFFF,
  100 : #FFFFFF,
  200 : #FFFFFF,
  300 : #FFFFFF,
  400 : #FFFFFF,
  500 : #FFFFFF,
  600 : #FFFFFF,
  700 : #FFFFFF,
  800 : #FFFFFF,
  900 : #FFFFFF,
  A100 : #FFFFFF,
  A200 : #FFFFFF,
  A400 : #FFFFFF,
  A700 : #FFFFFF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$spaces: (
  'xs': 2px,
  'sm': 4px,
  'md': 8px,
  'lg': 16px,
  'xl': 32px
);

$font-sizes: (
  'xs': 12px,
  'sm': 14px,
  'md': 16px,
  'lg': 18px,
  'xl': 22px
);

// legal-consult theme variables
$legal-consult-padding-xs: map-get($spaces, 'xs');
$legal-consult-padding-sm: map-get($spaces, 'sm');
$legal-consult-padding-md: map-get($spaces, 'md');
$legal-consult-padding-lg: map-get($spaces, 'lg');
$legal-consult-padding-xl: map-get($spaces, 'xl');

$legal-consult-margin-xs: map-get($spaces, 'xs');
$legal-consult-margin-sm: map-get($spaces, 'sm');
$legal-consult-margin-md: map-get($spaces, 'md');
$legal-consult-margin-lg: map-get($spaces, 'lg');
$legal-consult-margin-xl: map-get($spaces, 'xl');

$legal-consult-radius-xs: map-get($spaces, 'xs');
$legal-consult-radius-sm: map-get($spaces, 'sm');
$legal-consult-radius-md: map-get($spaces, 'md');
$legal-consult-radius-lg: map-get($spaces, 'lg');
$legal-consult-radius-xl: map-get($spaces, 'xl');

$legal-consult-font-size-xs: map-get($font-sizes, 'xs');
$legal-consult-font-size-sm: map-get($font-sizes, 'sm');
$legal-consult-font-size-md: map-get($font-sizes, 'md');
$legal-consult-font-size-lg: map-get($font-sizes, 'lg');
$legal-consult-font-size-xl: map-get($font-sizes, 'xl');

$legal-consult-inactive-text: #7C8284;

// Shared module
$legal-consult-header-height: 70px;
$legal-consult-header-user-icon-size: 32px;
$legal-consult-sidenav-width: 69px;
$legal-consult-sidenav-background-color: #4285F4;
$legal-consult-add-btn-background-color: #1D893B;

// Members list page
$legal-consult-search-toolbar-height: 57px;
$legal-consult-search-width-input: 406px;
$legal-consult-search-width-view-btn: 45px;
$legal-consult-search-width-add-btn: 214px;
$legal-consult-view-user-profile-btn-width: 130px;
$legal-consult-view-user-profile-btn-height: 42px;

$legal-consult-table-margin: $legal-consult-margin-lg;
$legal-consult-table-padding: $legal-consult-padding-md;
$legal-consult-table-accent: $mat-concrete;
