<section id="members-page" class="page-view" fxLayout="column">

  <app-search-bar (blockView)="onBlockView($event)"
                  (listView)="onListView($event)">
  </app-search-bar>

  <div class="members-grid">
    <div class="grid-header" fxLayout="row" fxLayoutAlign="center center">
      <div class="users-length">
        <span>
          <fa-icon class="circle-list" [icon]="['fas', 'circle']"></fa-icon> {{ members.length }} total
        </span>
      </div>
      <div class="sort">
        <span>
          <fa-icon class="circle-list" [icon]="['fas', 'circle']"></fa-icon> {{ "membersList.sortyByText" | translate }}:
        </span>
        <button mat-button
                [class.active]="order === orderBy.LastName.toString()"
                (click)="setOrder('lastName')">
          {{ "membersList.sortyByList.lastName" | translate }}
          <fa-icon [hidden]="reverse" [icon]="['fas', 'sort-down']"></fa-icon>
          <fa-icon [hidden]="!reverse" [icon]="['fas', 'sort-up']"></fa-icon>
        </button>
        <button mat-button
                [class.active]="order === orderBy.FirstName.toString()"
                (click)="setOrder('firstName')">
          {{ "membersList.sortyByList.firstName" | translate }}
          <fa-icon [hidden]="reverse" [icon]="['fas', 'sort-down']"></fa-icon>
          <fa-icon [hidden]="!reverse" [icon]="['fas', 'sort-up']"></fa-icon>
        </button>
        <button mat-button
                [class.active]="order === orderBy.Organisation.toString()"
                (click)="setOrder('organisation')">
          {{ "membersList.sortyByList.organisation" | translate }}
          <fa-icon [hidden]="reverse" [icon]="['fas', 'sort-down']"></fa-icon>
          <fa-icon [hidden]="!reverse" [icon]="['fas', 'sort-up']"></fa-icon>
        </button>
        <button mat-button
                [class.active]="order === orderBy.County.toString()"
                (click)="setOrder('county')">
          {{ "membersList.sortyByList.county" | translate }}
          <fa-icon [hidden]="reverse" [icon]="['fas', 'sort-down']"></fa-icon>
          <fa-icon [hidden]="!reverse" [icon]="['fas', 'sort-up']"></fa-icon>
        </button>
        <button mat-button
                [class.active]="order === orderBy.Specialisation.toString()"
                (click)="setOrder('specialisation')">
          {{ "membersList.sortyByList.specialisation" | translate }}
          <fa-icon [hidden]="reverse" [icon]="['fas', 'sort-down']"></fa-icon>
          <fa-icon [hidden]="!reverse" [icon]="['fas', 'sort-up']"></fa-icon>
        </button>
      </div>
    </div>
    <div class="grid-list">
      <div class="user-card" [style.flex-basis]="viewMode" *ngFor="let member of members | orderBy: order:reverse:'case-insensitive'">
        <div class="user-info">
          <p class="name-pragraph">
            <span class="specialisaion">{{ member.specialisation }}</span>
            <span class="last-name"> {{ member.firstName }} </span>
            <span class="first-name">{{ member.lastName }}</span>
          </p>

          <p class="info email">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            {{ member.email }}
          </p>

          <p class="info phone">
            <fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon>
            {{ member.phoneNumber }}
          </p>

          <p class="info organisation">
            {{ member.organisation }}
          </p>
        </div>
        <div class="user-actions">
          <button mat-raised-button
                  color="primary"
                  class="mat-elevation-z0"
                  (click)="viewMemberProfile(member)">

            Vezi profil
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
