@import 'variables';

#members-page {
  height: calc(100% - #{$legal-consult-header-height});

  mat-toolbar {
    mat-form-field {
      height: $legal-consult-search-toolbar-height;
      width: $legal-consult-search-width-input;
    }

    button {
      height: $legal-consult-search-toolbar-height;

      .view-btn {
        width: $legal-consult-search-width-view-btn;
      }
      .add-member {
        width: $legal-consult-search-width-add-btn;
      }
    }
  }

  .sorting-header {
    .users {
      fa-icon {
        font-size: 5px;
        text-align: center;
        vertical-align: middle;
      }
    }

    .users.length {
      span {
        margin-right: $legal-consult-margin-xl;
      }
    }
  }
}
