<section id="members-page" class="page-view" fxLayout="column">
  <mat-toolbar fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field>
      <input matInput (keyup)="applyFilter()" placeholder="Cauta membru...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button class="view-btn" mat-button>
      <fa-icon [icon]="['fas', 'th-large']"></fa-icon>
    </button>
    <button class="view-btn" mat-button>
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <button class="add-member" mat-button>
      <i class="material-icons">add_circle</i> Adauga membri
    </button>
  </mat-toolbar>
  <div class="sorting-header" fxLayout="row" fxLayoutAlign="center center" >
    <div class="users length">
      <span>
        <fa-icon [icon]="['fas', 'circle']"></fa-icon> 1200 total
      </span>
    </div>
    <div class="users sort">
      <span>
        <fa-icon [icon]="['fas', 'circle']"></fa-icon> Sorteaza dupa:
      </span>
      <button mat-button>Nume</button>
      <button mat-button>Prenume</button>
      <button mat-button>Organizatie</button>
      <button mat-button>Judet</button>
      <button mat-button>Specializare</button>
    </div>
  </div>
</section>
