<form [formGroup]="logInForm" fxLayout="column">
  <mat-form-field>
    <input
      matInput
      #username
      name="username"
      maxlength="100"
      placeholder="Username"
      required
      formControlName="username"
    />

    <mat-hint align="end">{{ username.value.length }} / 100</mat-hint>

    <mat-error *ngIf="editAssetForm.controls.name.hasError('NAME_NOT_EMPTY') || editAssetForm.controls.username.hasError('required')">
      Username este obligatoriu.
    </mat-error>
    <mat-error *ngIf="editAssetForm.controls.username.hasError('NAME_MAX_LENGTH_100')">
      Username nu poate avea mai mult de 100 caractere.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      #name
      name="password"
      maxlength="100"
      placeholder="Password"
      required
      formControlName="password"
      type="password"
    />

    <mat-hint align="end">{{ password.value.length }} / 100</mat-hint>

    <mat-error *ngIf="editAssetForm.controls.name.hasError('NAME_NOT_EMPTY') || editAssetForm.controls.password.hasError('required')">
      Numele este obligatoriu.
    </mat-error>
    <mat-error *ngIf="editAssetForm.controls.password.hasError('NAME_MAX_LENGTH_100')">
      Numele nu poate avea mai mult de 100 caractere.
    </mat-error>
  </mat-form-field>

</form>
