<section id="add-members-page" class="page-view" fxLayout="column">
    <app-search-documents></app-search-documents>

    <div class="add-members">
        <h2>{{ 'addMembers.title' | translate }}</h2>
        <div class="individual-member">
            <p>{{ 'addMembers.subTitle.question' | translate }} <span class="link" (click)="addIndividualMember()">{{ 'addMembers.subTitle.addNewMember' | translate }}</span></p>
        </div>
        <div class="select-method" fxLayout="column">
            <mat-radio-group [(ngModel)]="addMembersType">
                <mat-radio-button>{{ 'addMembers.options.importCsv' | translate }}</mat-radio-button>
                <mat-radio-button>{{ 'addMembers.options.copyPaste' | translate }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-button disabled>{{ 'addMembers.continueBtn' | translate }}</button>
    </div>
</section>