@import 'variables';

mat-toolbar {
  margin: $legal-consult-margin-xl 0;

  .search-input {
    height: $legal-consult-search-toolbar-height;
    padding: $legal-consult-padding-md;
    font-size: $legal-consult-font-size-sm;
    margin-right: $legal-consult-padding-md;

    mat-icon {
      margin: 0 $legal-consult-margin-lg;
    }
    input {
      width: $legal-consult-search-width-input;
      border: none;
      outline: none;
    }
  }

  button.mat-button {
    height: $legal-consult-search-toolbar-height;
  }

  button.mat-button.view-btn {
    width: $legal-consult-search-width-view-btn;
    color: map-get($mat-congress-blue, 500);

    &.active {
      color: map-get($mat-congress-blue, 50);
      background-color:map-get($mat-congress-blue, 500);
    };
  }
  button.mat-button.view-btn.columns-1 {
    border-radius: 0 $legal-consult-radius-xs $legal-consult-radius-xs 0;
  }
  button.mat-button.view-btn.columns-2 {
    border-radius: $legal-consult-radius-xs 0 0 $legal-consult-radius-xs;
  }


  button.mat-button.add-member {
    background-color: $legal-consult-add-btn-background-color;
    color: map-get($mat-white, 50);
    margin-left: $legal-consult-margin-md;
    width: $legal-consult-search-width-add-btn;

    i {
      margin: 0 $legal-consult-margin-md;
    }
  }
}
