<mat-toolbar fxLayout="row" fxLayoutAlign="end center">
  <div class="search-input mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <input (keyup)="applyFilter()" placeholder="Cauta membru...">
  </div>
  <button mat-button class="view-btn columns-2 mat-elevation-z1" (click)="onBlockView()">
    <fa-icon [icon]="['fas', 'th-large']"></fa-icon>
  </button>
  <button mat-button class="view-btn columns-1 mat-elevation-z1" (click)="onListView()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <button mat-button class="add-member">
    <i class="material-icons">add_circle</i> Adauga membri
  </button>
</mat-toolbar>
